/* From uiverse.io by @alexruix */
.card {
    width: 190px;
    height: 254px;
    position: relative;
    outline: .3em solid hsla(209, 90%, 57%, 0.45);
    background: #ff930f;
    background: linear-gradient(to top, #1e96ff 0%, #063bb6 100%);
    overflow: hidden;
    color: rgb(50, 50, 50);
    border-radius: 15px;
    margin-top: 10px;
    /* margin: 10px; */
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(80, 64, 44, 0);
    transition: background-color 1s;
}

.cardinfo {
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 1.5em;
    text-align: center;
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.cardbio {
    padding: 1.8em;
    text-align: center;
    transform: translate(100%, 40%);
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.cardbio p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
}


/*Text*/
.title {
    font-size: 1.3em;
    font-weight: bold;
}

.title::after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    margin: 0 auto 4%;
    background-color: #000;
}

.subtitle {
    font-weight: 400;
    line-height: 1em;
}



/*Hover*/
.card:hover::before {
    background-color: rgba(80, 64, 44, 0.25);
}

.card:hover .cardinfo {
    transform: translateX(-100%);
}

.card:hover .cardbio {
    transform: translate(0, 40%);
    opacity: 1;
}

.cardlogo {
    height: 5.5rem;
}

.Techss {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--heroword);
    padding: 50px;
}

.links {
    width: 200px;
}