/* From uiverse.io by @alexmaracinaru */
.cta {
    /* position: relative; */
    position: absolute;
    left: 48px;
    top: 330px;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    z-index: 100;
    cursor: pointer;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--ifm-color-primary);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    /* color: rgb(35, 40, 37); */
}

[data-theme='light'].cta span {
    color: rgb(35, 40, 37);
}

[data-theme='dark'].cta span {
    color: aliceblue;
}


.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: rgb(82, 92, 122);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

/* [data-theme='light'].cta svg {
    stroke: rgb(35, 40, 37);
}

[data-theme='dark'].cta svg {
    stroke: aliceblue;
} */

.cta:hover:before {
    width: 100%;
    background: var(--ifm-color-primary-lightest);
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

@media only screen and (max-width: 1200px) {
    .cta {
        display: none;
    }
}